<!dOCTYPE html>
<html>

<head class=main-header>

    <meta charset="UTF-8">
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <header class="main-header">
       
          <div class="top-header">
            
      
            <div>
        
                <div class="barraBusqueda">
                    <div class="logo"><img src="/images/logo-mercado-liebre.svg" alt="logo de MercadoLiebre"></div>
                   <form class="search" action="/"><input class="search" name="barraBusqueda" id="barraBusqueda" placeholder="Buscar productos, marcas y más" >
                        <button class="lupa" type="submit"><i class="fa fa-search"></i></button></form>
                   </div> 
            
                
              </div >   
            
        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p> <form class="search" action="/"> 
           
               </div>
        
        <nav class="main-navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-button">
            <i class="fa fa-bars burger"></i>
        </div>
       </header>
    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <main >
        <section class="last-visit">
            <h3>Basado en tu última visita</h3>
            <div class="productos">
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                    
                    <div class="main-article">
                        <div class="flex-conteiner"></div>
                        <div class="camion"> <i class="fas fa-truck"></i></div>
                        <div class="pd">
                        <div class="precio">$6.770</div>
                        <div class="descuento">40% off</div>
                    </div>
                       

                    
                    <div class="descripcion">Cafetera Moulinex</div>
            </div>
            </article>
           
           
            <article>


                <img src="images/img-macbook-pro-2019.jpg" alt="" >
                
                <div class="main-article">
                    
        
                    <div class="flex-conteiner"></div>
                        <div class="camion"><i class="fas fa-truck"></i></div>
                        <div class="pd">
                        <div class="precio">$230.000</div>
                        <div class="descuento">20% off</div>
                    </div>
                    <div class="descripcion">MacBook Pro 2019</div>
                </div>
            </article>
            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="" >
                <div class="main-article">
                    <div class="flex-conteiner"></div>
                    <div class="camion"><i class="fas fa-truck"></i></div>
                          <div class="pd">
                        <div class="precio">$70.500</div>
                        <div class="descuento">10% off</div>

                    </div>
                    <div class="descripcion">Samsung Galaxy S10</div>
                </div>
            </article>
            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="" >
                
                <div class="main-article">

            
                    <div class="flex-conteiner"></div>
                       <div class="camion" ><i class="fas fa-truck"></i></div>
                       <div class="pd">
                        <div class="precio">$23.200</div>
                        <div  class="descuento">5% off</div>

                    </div>
                    <div class="descripcion">SmartTv Samsung 43"</div>
                </div>
            </article>
            </div>
        </section>
        <section class="offers">
            <h3>Ofertas</h3>
            <div class="productos">
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="" >
                    <div class="main-article">

                        <div class="flex-conteiner"></div>
                            <div class="camion"><i class="fas fa-truck"></i></div>
                            <div class="pd">
                            <div class="precio">$6.770</div>
                            <div class="descuento">40% off</div>
                        </div>
                        <div class="descripcion">Cafetera Moulinex</div>
                    </div>
                </article>
                <article >
                    <img src="images/img-macbook-pro-2019.jpg" alt="" >
                    <div class="main-article">
                        <div class="flex-conteiner"></div>
                        <div class="camion"> <i class="fas fa-truck"></i></div>
                
                            <div class="pd">
                            <div class="precio">$230.000</div>
                            <div class="descuento">20% off</div>
                        </div>
                        <div class="descripcion">MacBook Pro 2019</div>
                    </div>
                </article>
                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                    
                    <div class="main-article">
                        <div class="flex-conteiner"></div>
                        <div class="camion"> <i class="fas fa-truck"></i></div>
                        <div class="pd">
                            <divclass="precio">$70.500</div>
                            <div class="descuento">10% off</div>
                        </div>
                        <div class="descripcion">Samsung Galaxy S10</div>
                    </div>
                </article>
                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="">
                   
                    <div class="main-article">

                        <div class="flex-conteiner"></div>
                            <div class="camion"> <i class="fas fa-truck"></i></div>
                            <div class="pd">
                            <div class="precio">$23.200</div>
                            <div class="descuento">5% off</div>

                        </div>
                        <div class="descripcion">SmartTv Samsung 43"</div>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
       
        <div><i class="fa fa-credit-card"></i></div>
        <h2>Paga con tarjeta o en efectivo</h2>
        <p>Con MercadoLiebreCash tené cuotas sin<br>
            interes con tarjeta o efectivo en puntos de <br>
            pago.¡Y siempre es seguro!

        </p>
        <div><i class="fa fa-gift"></i></div>
        <h2>Envio gratis desde los $2.500</h2>
        <p>Solo por estar registrado en el MercadoLiebre<br>
            tenes envios gratis en miles de productos.Es<br>
            un beneficio de mercado Puntos</p>


        <div class="segurity"><i class="fa fa-user-shield"></i></div>
        <h2>Seguridad de principio a fin</h2>
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre<br>
            no hay nada que no puedas hacer por que estás<br>
            siempré protegid@<br>
        </p>
        <p style="text-align:left"> Copyright @ 1999-2022 MercadoLiebre S.R.L</p>




    </footer>

</body>

</html>